{% extends 'portfolio/base.html'%}
{% block main_content%}
<section class="resume-section" id="education">
    <div class="resume-section-content">
        <h2 class="mb-5">Education</h2>
        {% for education in edu%}
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">{{education.uni_name}}</h3>
                <div class="subheading mb-3">{{education.faculty}}</div>
                <!-- <div>Computer Science - Web Development Track</div> -->
                <p>{{edu.score}}</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">{{education.workDateFrom}}- {{education.workDateTo}}</span></div>
     
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}